
@charset "utf-8";

/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0}
body,th,td,input,select,textarea,button{font-family:'Roboto-Regular','나눔바른고딕',NanumBarunGothic,'Apple SD Gothic Neo',AppleGothic,'돋움',Dotum,sans-serif;line-height:1.5}
fieldset,img{border:0}
img{vertical-align:top}
dl,ul,ol,menu,li{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
input,select,textarea,button{font-size:100%;vertical-align:middle;box-sizing:border-box}
// button{border:0 none;background-color:transparent;cursor:pointer}
table{border-spacing:0;border-collapse:collapse;width:100%;table-layout:fixed}
body{-webkit-text-size-adjust:none; overflow-x:hidden}
input[type='text'],input[type='password'],input[type='submit'],input[type='search'], input[type='tel'], input[type='number'], input[type='email'], textarea{border-radius:0;-webkit-appearance:none}
input:checked[type='checkbox']{background-color:#666;-webkit-appearance:checkbox}
input[type='submit'],input[type='reset'],input[type='file']{border-radius:0;-webkit-appearance:button}
input[type='number'],input[type='tel'],input[type='date'],textarea,select{border-radius:0}
input[type='search']::-webkit-search-cancel-button{-webkit-appearance:none}
textarea:focus{outline:none}
a{color:inherit;text-decoration:none;outline:none}
a:active,a:hover{text-decoration:none}
address,caption,cite,code,dfn,em,var{font-weight:normal;font-style:normal}
hr{margin:0;padding:0;border:0}
.blind{overflow:hidden;position:absolute;width:1px;height:1px;margin:-1px;padding:0;border:0;line-height:0;white-space:normal;word-wrap:break-word;word-break:break-all;clip:rect(0,0,0,0)}
.blind:before{display:block;width:0;height:0;font-size:0;content:'\00a0'} 
legend{overflow:hidden;position:absolute;width:1px;height:1px;margin:-1px;padding:0;border:0;line-height:0;white-space:normal;word-wrap:break-word;word-break:break-all;clip:rect(0,0,0,0)}
legend:before{display:block;width:0;height:0;font-size:0;content:'\00a0'}
caption{overflow:hidden;width:1px;height:1px;margin-top:-1px;padding:0;font-size:1px;line-height:0;color:transparent;white-space:nowrap;text-overflow:ellipsis;*height:0;text-indent:-999px\9}
caption.blind{position:static;margin:-1px 0 0;*height:0}
caption.blind:before{display:none}
caption .blind{position:static}
caption .blind:before{display:none}

